﻿body {
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    background-color:lightskyblue;
}

#right
{
    float: left;
    width: 300px;
}
#left
{
    float: left;
    width: 550px;
    min-height: 600px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 5px; 
}

.Header
{
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 15px;
}

.GridViewSelectedRow
{
    background-color: goldenrod;
    margin: 5px;
    padding: 5px;
}

.GridViewHeader {
    background-color: tomato;
    color: black;
    margin: 5px;
    padding: 5px;
}

.GridViewRow {
    margin: 5px;
    padding: 5px;
    background-color:burlywood;
}

.DetailViewFieldHeader{
    color: red;
    padding-right: 5px;
    vertical-align: top;
}

.DetailViewRow{
    color: darkgreen;
}

